<div class="container">
<div class="row">
	<center>
		<h3 style="color: #000">List of Plans </h3>
</center>
	<button class="btn btn-primary"  ui-sref="RA.Planadd"><i class="fa fa-plus"></i>&nbsp;</button>
	 <div  class="container m-t-50">
                <div class="table-responsive m-t-30">
                	<table  class="table text-center">
						    <thead>
						        <th>S.No</th>
						        <th>Rate</th>
						        <th>Validity</th>
						        <th>Vacancy</th>						        				       
								<th>CV</th>
								<th>Email</th>
								<th>Status</th>
								<th>Edit</th>
						    </thead>
						    <tbody>
						        <tr ng-repeat="plan in UserDetails">
						            <td>{{$index+1}}</td>
						            <td>{{ plan.rate}}</td>
						            <td>{{ plan.month}}</td>
						            <td>{{plan.vacancy}}</td>
						            <td>{{plan.cv}}</td>
						            <td>{{plan.email}}</td>
						            <td><button class="btn btn-primary"  ng-click="statusplan(plan)">{{plan.status}}</button></td> 
						            
						           <td><button class="btn btn-primary"  ui-sref="RA.updateplan({planId: plan._id})"><i class="fa fa-pencil"></i>&nbsp;</button></td>
						        </tr>
						    </tbody>
					</table>
                </div> 

</div>